npm-debug.log

public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env

/bootstrap/compiled.php
/vendor
composer.phar
/.env.*.php
/.env
/.env.php
.DS_Store
Thumbs.db

bower_components/
node_modules/
public/css/
public/fonts/
public/images/
public/js/
public/mix-manifest.json

.idea
/_ide_helper.php

public/css/admin.css
public/js/admin.js
public/js/app.js
.phpstorm.meta.php
*.env.json
